@import '../../styles.scss';

/* DESKTOP NAV */
.desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;

  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;

    a {
      color: var(--primary);
      text-decoration: none;
    }

    a:hover {
      color: var(--secondary);
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-color: var(--interactive);
    }
  }

  .logo {
    font-size: 2rem;
  }

  .logo:hover {
    cursor: default;
  }
}