<nav class="desktop-nav">
    <div class="nav-links-container-left">
        <ul class="nav-links">
            <li><a [routerLink]="['']">home.</a></li>
            <li><a [routerLink]="['about']">about.</a></li>
            <li><a [routerLink]="['']">projects.</a></li>
            <li><a [routerLink]="['']">contact.</a></li>
        </ul>
    </div>
    <div class="logo">
        <div [routerLink]="['']">ks</div>
    </div>
    <div class="nav-links-container-right">
        <ul class="nav-links">
            <li class="icon">
                <span class="tooltip" id="github-aria-label">GitHub</span>
                <a href="https://github.com/ScriptSage001/ScriptSage001" target="_blank" aria-label="link-github" aria-labelledby="github-aria-label"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
            </li>
            <li class="icon">
                <span class="tooltip"  id="linkedin-aria-label">LinkedIn</span>
                <a href="https://www.linkedin.com/in/kaustab-samanta/" target="_blank" aria-label="link-linkedin" aria-labelledby="linkedin-aria-label"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
            </li>
            <li class="icon">
                <span class="tooltip"  id="twitter-aria-label">Twitter</span>
                <a href="" target="_blank" aria-label="link-twitter" aria-labelledby="link-aria-twitter"><fa-icon [icon]="['fab', 'x-twitter']"></fa-icon></a>
            </li>
            <li class="icon">
                <span class="tooltip"  id="whatsapp-aria-label">WhatsApp</span>
                <a href="https://web.whatsapp.com/send?phone=916291260693&amp;text=Hi Kaustab." target="_blank" aria-label="link-whatsapp" aria-labelledby="whatsapp-aria-label"><fa-icon [icon]="['fab', 'whatsapp']"></fa-icon></a>
            </li>
            <li class="dark-mode-toggler">
                <input type="checkbox" id="dark-mode" (click)="toggleTheme()">
                <label for="dark-mode"></label>
            </li>
        </ul>
    </div>
</nav>