<nav class="desktop-nav">
    <div class="nav-links-container-left">
        <ul class="nav-links">
            <li><a [routerLink]="['']">home.</a></li>
            <li><a [routerLink]="['']">about.</a></li>
            <li><a href="">projects.</a></li>
            <li><a href="">contact.</a></li>
        </ul>
    </div>
    <div class="logo">
        <div>ks</div>
    </div>
    <div class="nav-links-container-right">
        <ul class="nav-links">
            <li class="icon"><a href="" title="Check Out My GitHub"><fa-icon [icon]="['fab', 'github']"></fa-icon></a></li>
            <li class="icon"><a href="" title="Connect With Me On LinkedIn"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a></li>
            <li class="icon"><a href="" title="Ping Me On WhatsApp"><fa-icon [icon]="['fab', 'whatsapp']"></fa-icon></a></li>
            <li class="icon"><a href="" title="Contact Me"><fa-icon [icon]="['fas', 'envelope']"></fa-icon></a></li>
            <li class="dark-mode-toggler">
                <input type="checkbox" id="dark-mode" (click)="toggleTheme()">
                <label for="dark-mode"></label>
            </li>
        </ul>
    </div>
</nav>