@import '../../styles.scss';

/* DESKTOP Header */
.desktop-header {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(100px, 0.5fr) minmax(200px, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  z-index: 999;

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;

    a {
      color: var(--primary);
      text-decoration: none;
    }
  }

  .nav-links-container-left {
    .nav-links {
      justify-content: space-evenly;

      a:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: var(--interactive);
      }
    }
  }

  .nav-links-container-right {
    .nav-links {
      justify-content: center;
      gap: 2rem;

      .icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        .tooltip {
          position: absolute;
          bottom: 0;
          font-size: 0.8rem;
          background: var(--primary);
          color: var(--secondary);
          padding: 5px 8px;
          border-radius: 5px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        .tooltip::before {
          position: absolute;
          content: "";
          height: 8px;
          width: 8px;
          background: var(--primary);
          top: -3px;
          left: 50%;
          transform: translate(-50%) rotate(45deg);
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }

      .icon:hover .tooltip {
        bottom: -35px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
      }

      .icon:hover a {
        transform: scale(1.1);
      }
    }
  }

  .logo {
    color: var(--secondary);
    font-size: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .logo:hover {
    cursor: pointer;
  }
}

.scrolled {
  background-color: var(--navbar-bg);
  backdrop-filter: blur(10px);
  filter: drop-shadow(0 5px 10px var(--drop-shadow));
}

/* COLOR MODE TOGGLE BUTTON */
.dark-mode-toggler {
  padding-left: 1rem;

  label {
    position: relative;
    width: 60px;
    height: 33px;
    display: block;
    background: var(--primary);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -5px 15px rgba(255, 255, 255, 0.5);
  }

  label:after {
    content: '';
    position: absolute;
    height: 23px;
    width: 23px;
    background: var(--background);
    background-image: var(--toggle-icon);
    background-size: cover;
    border-radius: 100px;
    top: 5px;
    left: 5px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  input:checked~label:after {
    left: 55px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
    background: var(--background);
    background-image: var(--toggle-icon);
    background-size: cover;
  }

  input:checked~label {
    background: var(--primary);
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -5px 15px rgba(255, 255, 255, 0.5);
  }

  input:checked+label {
    background: var(--primary);
    box-shadow: inset 0px 5px 15px rgba(255, 255, 255, 0.5), inset 0px -5px 15px rgba(0, 0, 0, 0.5);
  }

  input {
    display: none;
  }
}

.mobile-header {
  display: none;
}

@media (max-width: 1400px) {
  .desktop-header {

    .nav-links {
      font-size: 1.3rem;
    }

    .logo {
      width: 2.6rem;
      height: 2.6rem;
      font-size: 1.8rem;
    }
  }

  .dark-mode-toggler {
    label {
      width: 50px;
      height: 30px;
    }

    label:after {
      height: 20px;
      width: 20px;
      top: 5px;
      left: 5px;
    }

    input:checked~label:after {
      left: 45px;
    }
  }
}

@media (max-width: 1024px) {
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    z-index: 999;
    padding-top: 0.5rem;

    .logo {
      color: var(--secondary);
      font-size: 1.5rem;
      background-color: var(--primary);
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  
    .logo:hover {
      cursor: pointer;
    }

    .hamburger-menu {
      display: block;
      padding-left: 1rem;

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary);
      }
    }

    .dark-mode-toggler {
      padding-left: 0;
      padding-right: 1rem;

      label {
        width: 30px;
        height: 30px;
      }
  
      label:after {
        height: 20px;
        width: 20px;
        top: 5px;
        left: 5px;
      }
  
      input:checked~label:after {
        left: 45px;
      }
    }

    .nav-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 45vw;
      background-color: var(--background);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      overflow-y: auto;
      z-index: 1000;
      box-shadow: 0 1.5rem 3rem -0.75rem var(--drop-shadow);

      button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--primary);
        position: fixed;
        top: 0;
        left: 0;
        padding: 1.3rem 1rem;
      }

      ul {
        list-style: none;
        padding: 2rem;
        padding-top: 4rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          margin: 1rem 0;
          a {
            text-decoration: none;
            font-size: 1.2rem;
            color: var(--primary);
          }

          .mobile-nav-links {
            a {
              font-size: 1.5rem;
              padding: 0 0.5rem;
            }
          }
        }
      }

      &.open {
        transform: translateX(0);
        display: block;
      }
    }
  }
}