<!-- <div class="footer">
    <nav>
        <div class="nav-links-container">
            <ul class="nav-links">
                <li><a href="">about.</a></li>
                <li><a href="">experience.</a></li>
                <li><a href="">projects.</a></li>
                <li><a href="">contact.</a></li>
            </ul>
        </div>
    </nav>
    <p>Copyright &#169; 2024 TheScriptSage. All Rights Reserved.</p>
</div> -->

<footer>
    <div class="footer-copyright">
        <p>Copyright &#169; 2024. All Rights Reserved.</p>
        <p>Made with <fa-icon [icon]="['fas', 'heart']"></fa-icon> by TheScriptSage.</p>
        <p><a href="">Say Hello!</a></p>
    </div>
</footer>