@import '../../styles.scss';

footer {
  margin: 0 1rem;
  border-top: 1px solid var(--primary);

  .footer-copyright {
    color: var(--primary);
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    // padding-top: 6vh;
    height: 4vh;

    p {
        text-align: center;

        a {
          text-decoration: none;
          color: var(--primary);
        }

        a:hover {
          color: var(--secondary);
        }
      }
  }
}