@import '../../styles.scss';

footer {
  margin: 0 1rem;
  border-top: 1px solid var(--primary);

  .footer-copyright {
    color: var(--primary);
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    // padding-top: 6vh;
    height: calc(6vh - 1px);

    p {
        text-align: center;

        a {
          text-decoration: none;
          color: var(--primary);
        }

        a:hover {
          text-decoration: underline;
          text-underline-offset: 0.3rem;
        }
      }
  }
}

@media (max-width: 1024px) {
  footer {
    .footer-copyright {
      grid-template-columns: 1fr;
      height: 8vh;
      padding: 2rem;
      text-align: center;
    }
  }
}

/* Mobile */
@media (max-width: 768px) {
  footer {
    .footer-copyright {
      padding: 1rem 0;
      font-size: 0.8rem;
      height: 8vh;

      p {
        margin-bottom: 0.5rem;
      }
    }
  }
}