@import '../../styles.scss';

.about-wrapper{
    margin: 5vh 0;
    height: 80vh;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--primary);
    position: relative;

    .about-header{
        .title {
            font-size: 7rem;
            font-weight: 700;

            span {
                display: inline-block;
            }
        }
    }

    .container{
        display: grid;
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        align-items: center;
        padding: 0 1vw;

        .pic-container{

            .profile-pic{
                width: 30rem;
                height: 30rem;
                border-radius: 50%;
                box-shadow: 0 7px 10px var(--drop-shadow);
            }
        }

        .about-container{
            .about-heading{
                font-size: 2.3rem;
                font-weight: 700;
                text-align: left;
                padding-bottom: 3vh;

                span {
                    display: inline-block;
                }
            }

            .about-details{
                font-size: 1.3rem;
                font-weight: 500;
                text-align: left;

                span {
                    display: inline-block;
                    padding-bottom: 1.5vh;
                }

            }
        }
    }

    .arrow {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 3rem;
        position: absolute;
        bottom: 0;
        right: 0;

        .arrow-circle {
            border: none;
            background-color: transparent;
            color: var(--primary);
            font-size: 3rem;
            transition: 0.5s;
        }

        .arrow-circle:hover {
            transform: translateX(0.7rem);
            cursor: pointer;
        }
    }
}

.header {
    padding: 2vh 0;
    font-size: 7rem;
    font-weight: 700;

    span {
        display: inline-block;
        transition: 0.5s;
    }

    span:hover {
        cursor: pointer;
        scale: 1.1;
    }
}

.header-clicked {
    -webkit-text-fill-color: var(--background);
    -webkit-text-stroke-color: var(--primary);
    -webkit-text-stroke-width: 3px;
}

.experience-wrapper {
    margin: 5vh 0;
    height: auto;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--primary);
    position: relative;

    .experience-item-container {
        display: grid;
        align-items: center;
        padding: 2vh 10vw;

        .experience-item {
            padding: 2vh 0;

            .experience-card {
                background-color: var(--background);
                border-radius: 10px;
                box-shadow: 0 4px 10px var(--drop-shadow);
                padding: 2rem;
                text-align: left;
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0 6px 20px var(--drop-shadow);
                    transform: scale(1.002);
                }

                .experience-card-top {
                    display: grid;
                    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);

                    .expand-icon {
                        align-self: center;
                        justify-self: right;
                        padding-right: 3vw;

                        fa-icon {
                            font-size: 1.8rem;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .item-header {
                text-align: left;

                .item-title {
                    font-size: 2rem;
                    font-weight: 700;
                }

                .item-body {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }

            .item-details {
                text-align: justify;
                font-size: 1.1rem;
                padding-top: 1vh;
            }
        }
    }
}

.skills-wrapper {
    margin: 5vh 0;
    height: auto;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--primary);
    position: relative;

    .skills-item-container {
        .skills-type {
            list-style-type: none;
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;
            padding: 1rem 1.5rem;

            .skills-type-buttons {
                box-sizing: border-box;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                border-style: solid;
                border-color: var(--primary);
                border-width: 1px;

                a {
                    color: var(--primary);
                    text-decoration: none;
                    font-size: 1.5rem;
                    user-select: none;
                }

                &:hover {
                    border-color: var(--background);
                    background-color: var(--primary);
                    cursor: pointer;

                    a {
                        color: var(--background);
                    }
                }
            }

            .skills-type-buttons.active {
                border-color: var(--background);
                background-color: var(--primary);

                a {
                    color: var(--background);
                }
            }
        }

        .skills-items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 3rem;

            .skill-icon {                
                img {
                    filter: invert(var(--bg-inverse));
                    width: 3.5rem;
                    height: 3.5rem;
                    padding: 0.5rem 1rem;
                }
            }

            &:hover {
                row-gap: 2rem;
            }
        }
    }
}

.certificate-wrapper {
    margin: 5vh 0;
    height: auto;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--primary);
    position: relative;

    .certificate-item-container {
        display: grid;
        align-items: center;
        padding: 2vh 10vw;

        .certificate-item {
            padding: 2vh 0;

            .certificate-card {
                background-color: var(--background);
                border-radius: 10px;
                box-shadow: 0 4px 10px var(--drop-shadow);
                padding: 2rem;
                text-align: left;
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0 6px 20px var(--drop-shadow);
                    transform: scale(1.002);
                }

                .certificate-card-top {
                    display: grid;
                    grid-template-columns: minmax(300px, 1.5fr) minmax(100px, 0.5fr);

                    .item-right {
                        align-self: center;
                        justify-self: right;
                        padding-right: 3vw;
                        display: flex;

                        .creds-link {
                            text-decoration: none;
                            color: var(--primary);

                            .creds-link-text {
                                font-size: 1.2rem;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            .creds-link-icon {
                                font-size: 1.5rem;
                            }
                        }


                    }
                }
            }

            .item-left {
                text-align: left;

                .item-title {
                    font-size: 2rem;
                    font-weight: 700;
                }

                .item-body {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
        }
    }
}

.award-wrapper {
    margin: 5vh 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary);
    position: relative;

    .award-container {
        position: relative;
        //max-width: 48rem;
        margin: 0 auto;

        .award-slider {
            display: flex;
            //aspect-ratio: 3/2;
            width: auto;
            height: 60vh;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            box-shadow: 0 1.5rem 3rem -0.75rem var(--drop-shadow);
            border-radius: 0.5rem;
            -ms-overflow-style: none;
            scrollbar-width: none;
            border-style: solid;
            border-color: var(--primary);
            border-width: 0.2rem;

            img {
                flex: 1 0 100%;
                scroll-snap-align: start;
                object-fit: fill;
                display: none;
            }

            .slider-active {
                display: block;
            }
        }

        .award-slider-nav {
            display: flex;
            column-gap: 1rem;
            position: absolute;
            bottom: 0.5rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            a {
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                background-color: white;
                opacity: 0.75;
                transition: opacity ease 250ms;
                box-shadow: 0 1.5rem 3rem -0.75rem var(--drop-shadow);
                border-color: hsla(0, 0%, 0%, 0.3);
                border-width: 0.1rem;
                border-style: solid;

                &:hover {
                    opacity: 1;
                }
            }

            .slider-nav-active {
                width: 2rem;
                height: 0.75rem;
                border-radius: 10px;
                opacity: 1;
            }
        }
    }
}

.education-wrapper {
    margin: 5vh 0;
    height: auto;
    display: grid;
    align-items: center;
    text-align: center;
    color: var(--primary);
    position: relative;

    .education-item-container {
        display: grid;
        align-items: center;
        padding: 2vh 10vw;

        .education-item {
            padding: 2vh 0;

            .education-card {
                background-color: var(--background);
                border-radius: 10px;
                box-shadow: 0 4px 10px var(--drop-shadow);
                padding: 2rem;
                text-align: left;
                transition: box-shadow 0.3s ease-in-out;

                &:hover {
                    box-shadow: 0 6px 20px var(--drop-shadow);
                    transform: scale(1.002);
                }

                .education-card-top {
                    display: grid;
                    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
                }
            }

            .item-header {
                text-align: left;

                .item-title {
                    font-size: 2rem;
                    font-weight: 700;
                }

                .item-body {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2vh 0;
        font-size: 3rem;
        font-weight: 700;
    
        span {
            display: inline-block;
            transition: 0.5s;
        }
    
        span:hover {
            cursor: pointer;
            scale: 1.1;
        }
    }
    
    .header-clicked {
        -webkit-text-fill-color: var(--background);
        -webkit-text-stroke-color: var(--primary);
        -webkit-text-stroke-width: 1.5px;
    }
    
    .about-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: auto;

        .about-header {
            padding: 2rem 0;

            .title {
                font-size: 2.7rem;
                font-weight: 700;
    
                span {
                    display: inline-block;
                }
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            padding: 0 10vw;

            .pic-container {
                padding-bottom: 2rem;

                .profile-pic {
                    width: 12rem;
                    height: 12rem;
                    border-radius: 50%;
                    box-shadow: 0 7px 10px var(--drop-shadow);
                }
            }
    
            .about-container {
                .about-heading {
                    font-size: 1.3rem;
                    font-weight: 700;
                    text-align: center;
                    padding-bottom: 3vh;
    
                    span {
                        display: inline-block;
                    }
                }
    
                .about-details {
                    font-size: 1rem;
                    font-weight: 500;
                    text-align: center;
    
                    span {
                        display: inline-block;
                        padding-bottom: 1.5vh;
                    }
    
                }
            }
        }

    }

    .experience-wrapper {
        margin: 0;
        width: 100vw;

        .experience-item-container {
            display: grid;
            align-items: center;
            padding: 1vh 3vw;
            max-width: 100VW;
    
            .experience-item {
                padding: 1vh 0;
    
                .experience-card {
                    background-color: var(--background);
                    border-radius: 10px;
                    box-shadow: 0 4px 10px var(--drop-shadow);
                    padding: 2rem;
                    text-align: left;
                    transition: box-shadow 0.3s ease-in-out;
    
                    &:hover {
                        box-shadow: 0 6px 20px var(--drop-shadow);
                        transform: scale(1.002);
                    }
    
                    .experience-card-top {
                        display: grid;
                        grid-template-columns: 70vw 1fr;
    
                        .expand-icon {
                            align-self: center;
                            justify-self: right;
                            padding-right: 1vw;
    
                            fa-icon {
                                font-size: 1.3rem;
    
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
    
                .item-header {
                    text-align: left;
    
                    .item-title {
                        font-size: 1rem;
                        font-weight: 700;
                    }
    
                    .item-body {
                        font-size: 0.7rem;
                        font-weight: 500;
                    }
                }
    
                .item-details {
                    text-align: justify;
                    font-size: 0.7rem;
                    padding-top: 1vh;
                }
            }
        }
    }

    .skills-wrapper {
        margin: 0;

        .skills-item-container {
            .skills-type {
                gap: 1rem;
                padding: 0.5rem 1rem;

                .skills-type-buttons {
                    padding: 0.5rem 1rem;

                    a {
                        font-size: 1.2rem;
                    }
                }
            }

            .skills-items {
                padding: 0 1rem;

                .skill-icon {                
                    img {
                        width: 3rem;
                        height: 3rem;
                        padding: 0.5rem 1rem;
                    }
                }

                &:hover {
                    row-gap: 1.5rem;
                }
            }
        }
    }

    .certificate-wrapper {
        display: none;
    }

    .award-wrapper {
        display: none;
    }

    .education-wrapper {
        display: none;
    }
}