//@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import './styles/_variables.scss';

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/font/Poppins-Thin.ttf') format(truetype);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/Poppins-Regular.ttf') format(truetype);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/Poppins-Medium.ttf') format(truetype);
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/font/Poppins-SemiBold.ttf') format(truetype);
}

@font-face {
  font-family: 'RussoOne';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/font/RussoOne-Regular.ttf') format(truetype);
}

:root {
  --background: #{$background-light};
  --primary: #{$primary-light};
  --secondary: #{$secondary-light};
  --interactive: #{$interactive-light};
  --toggle-icon: #{$toggle-icon-light};
  --drop-shadow: #{$drop-shadow-light};
  --reverse-drop-shadow: #{$reverse-drop-shadow-light};
  --navbar-bg: #{$navbar-bg-light};
  --background-image: #{$background-image-light};

  --bg-inverse: 0;

  &.dark-mode {
    --background: #{$background-dark};
    --primary: #{$primary-dark};
    --secondary: #{$secondary-dark};
    --interactive: #{$interactive-dark};
    --toggle-icon: #{$toggle-icon-dark};
    --drop-shadow: #{$drop-shadow-dark};
    --reverse-drop-shadow: #{$reverse-drop-shadow-dark};
    --navbar-bg: #{$navbar-bg-dark};
    --background-image: #{$background-image-dark};

    --bg-inverse: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  background-image: url(./assets/bg-new.webp); //var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: invert(var(--bg-inverse));  
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.tooltip {
  margin-top: 0; /* Adjust the tooltip's margin as needed */
}

/* Tooltip box style */
.tooltip-inner {
  background-color: var(--primary) !important;
  color: var(--background) !important;
  font-size: 0.8rem !important;
  padding: 0.5rem 1rem !important;
  border-radius: 4px !important;
  text-align: center;
  max-width: 14rem;
  box-shadow: 0px 4px 6px var(--drop-shadow);
}

/* Tooltip arrow pointing upwards when the tooltip is at the bottom */
.bs-tooltip-bottom .tooltip-arrow {
  position: absolute;
  top: -6px;  /* Position the arrow at the very top */
  left: calc(50% - 6px); /* Center the arrow horizontally */
  
  /* Create the arrow */
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--primary);
}