<section class="profile-wrapper">
    <div class="profile">
        <div class="pic-container">
            <img src="../../assets/profile-pic-light.png" alt="Kaustab Samanta profile picture" />
        </div>
        <div class="text">
            <p class="text-p1">hello, I'm</p>
            <h1 class="title">kaustab samanta</h1>
            <p class="text-p2">a fullstack developer</p>
            <div class="btn-container">
                <button class="btn btn-2" onclick="window.open('./assets/resume.pdf')">
                    Download CV &nbsp; <fa-icon [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
                </button>
                <button class="btn btn-1" onclick="location.href=''">
                    Contact Me <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
                </button>
            </div>
            <!-- <div class="socials-container">
                <img src="./assets/linkedin.png" alt="My LinkedIn profile" class="icon"
                    onclick="location.href='https://linkedin.com/'" />
                <img src="./assets/github.png" alt="My Github profile" class="icon"
                    onclick="location.href='https://github.com/'" />
            </div> -->
        </div>
    </div>
</section>