<section class="home-wrapper">
    <div class="text-wrapper">
        <h1 class="title">
            <span>Translating&nbsp;</span>
            <span>Dreams&nbsp;</span>
            <span>into&nbsp;</span>
            <span>Digital&nbsp;</span>
            <span>Realities:&nbsp;</span>
            <span>Where&nbsp;</span>
            <span>Code&nbsp;</span>
            <span>Meets&nbsp;</span>
            <span>Design.</span>
        </h1>
        <p class="intro">
            <span>Welcome&nbsp;</span>
            <span>to&nbsp;</span>
            <span>my&nbsp;</span>
            <span>corner&nbsp;</span>
            <span>of&nbsp;</span>
            <span>the&nbsp;</span>
            <span>web!&nbsp;</span>
            <span>I'm&nbsp;</span>
            <span class="name">Kaustab&nbsp;Samanta<span class="alias">TheScriptSage</span></span>
            <span>,&nbsp;</span>
            <span>a&nbsp;</span>
            <span>passionate&nbsp;</span>
            <span>full-stack&nbsp;</span>
            <span>developer&nbsp;</span>
            <span>committed&nbsp;</span>
            <span>to&nbsp;</span>
            <span>transforming&nbsp;</span>
            <span>ideas&nbsp;</span>
            <span>into&nbsp;</span>
            <span>cutting-edge&nbsp;</span>
            <span>web&nbsp;</span>
            <span>applications.&nbsp;</span>
            <span>Dive&nbsp;</span>
            <span>into&nbsp;</span>
            <span>my&nbsp;</span>
            <span>portfolio&nbsp;</span>
            <span>to&nbsp;</span>
            <span>discover&nbsp;</span>
            <span>my&nbsp;</span>
            <span>latest&nbsp;</span>
            <span>projects&nbsp;</span>
            <span>and&nbsp;</span>
            <span>insightful&nbsp;</span>
            <span>articles,&nbsp;</span>
            <span>demonstrating&nbsp;</span>
            <span>my&nbsp;</span>
            <span>proficiency&nbsp;</span>
            <span>in&nbsp;</span>
            <span>web&nbsp;</span>
            <span>development.&nbsp;</span>
        </p>
        <div class="btn-container">
            <button class="btn btn-2" onclick="window.open('./assets/resume.pdf')">
                Resume &nbsp; <fa-icon [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon>
            </button>
            <button class="btn btn-1" onclick="location.href=''">
                Contact <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
            </button>
        </div>
    </div>
    <div class="animation-wrapper">
        <svg viewBox="0 0 2000 300">
            <text id="animated-text" x="50%" y="50%" dy=".35em" text-anchor="middle">
                Welcome to Kaustab's Portfolio
            </text>
          </svg>
    </div>
    <div class="arrow">
        <button class="arrow-circle" [routerLink]="['about']" aria-label="navigate-your-next">
            <fa-icon [icon]="['fas', 'circle-chevron-right']"></fa-icon>
        </button>
    </div>
</section>